<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.xxstudio.fruitconnect"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:debuggable="true">

        <activity android:name=".FruitConnect"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />
        <activity
            android:name="com.waps.OffersWebView"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.kuguo.kuzai.KuzaiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.kuguo.kuzai.BoutiqueActivity" 
            android:screenOrientation="portrait"/>
        <receiver android:name="com.kuguo.kuzai.KuzaiReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
           <intent-filter>
               <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
           </intent-filter>
        </receiver>
        <activity
            android:name="com.kuguo.banner.AdsWapDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.kuguo.banner.AdsAppDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" />
        <receiver
            android:name="com.kuguo.banner.BannerReceiver">
            <intent-filter>
                <action
                    android:name="android.intent.action.PACKAGE_ADDED" />
                <data
                    android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>
        <meta-data android:value="50c75f735270153a7b000025" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Wandoujia" android:name="UMENG_CHANNEL"/>
        <meta-data android:name="WAPS_ID" android:value="2d73c4184bc8c265bc69ff770a3d99be" />
        <meta-data android:name="WAPS_PID" android:value="Wandoujia" />
        <meta-data android:name="cooId" android:value="9d3312432f0440f2afcc0b2cd4945ba0"/>
        <meta-data android:name="channelId" android:value="Wandoujia"/>
    </application>
    <supports-screens android:largeScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"
                      android:normalScreens="true"/>
</manifest> 
